<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<!--Responsive Meta Tag-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import jQuery Library-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="progressbar.js"></script>
<style type="text/css">
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
li.active1{background-color: #03a9f4}
</style>
<body>

<!-- Top container -->
<main>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="background-color:#121B2C">
      <a href="https://www.pict.edu" class="brand-logo center"><img class="circle" src="/images/pict.jpg" style="width:30%"></a>
      <a href="#" class="brand-logo right">ProfAssessor</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>
</div>

<!-- Sidebar/menu -->
<div class="row Pad_top">
    <div class="container" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'>
      <ul id="sidenav-left" class="sidenav sidenav-fixed" style="background-color:#01579b">
        <li>
        <div class="user-view">
          <a href="#user"><img class="circle" src="/images/IMG.png"></a>
          <a href="#name"><span class="white-text name" style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'><%=@name.capitalize%></span></a>
          <span class="white-text name" style='margin-top:0px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'><%=@email%></span>
          <span class="white-text name" style='margin-top:0px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'><%=@student_class%></span>
        </div>
        <hr />
        </li>
        <li><a href="/dashboard" class="logo-container white-text">Dashboard<i class="material-icons left white-text">spa</i></a></li>
        <li class="active1"><a class="waves-effect white-text" href="/courses"><i class="material-icons white-text">code</i>Courses</a></li>
        <li><%= link_to '<i class="material-icons white-text">flare</i>Sign Out'.html_safe, destroy_user_session_path, :method => :delete, :class => "waves-effect white-text" %></li>
      </ul>
    </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="container" style="margin-left:30%">
  <div class="row">
    <div class="col s11 z-depth-3">
      <form id="regForm" method="get" action="java_results" style="padding:5%">
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <p>Question 1:</p>
        <p>Predict the output of following Java program:</p>
        <pre>class Main {
    public static void main(String args[]) {
          System.out.println(fun());
    }
    int fun(){
      return 20;
    }
}
</pre>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio"  />
            <span>20</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio"  />
            <span>Compilation error</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio"  />
            <span>0</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q1" type="radio"  />
            <span>Garbage value</span>
          </label>
        </p>
      </div>
      <div class="tab">
        <p>Question 2:</p>
        <p>Predict the output of following Java program:</p>
        <pre>public class Main {
    public static void main(String args[]) {
       String x = null;
       giveMeAString(x);
       System.out.println(x);
    }
    static void giveMeAString(String y){
       y = "GeeksQuiz";
    }
}
</pre>
        <p>
          <label>
            <input class="with-gap" name="q2" type="radio"  />
            <span>GeeksQuiz</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q2" type="radio"  />
            <span>Null</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q2" type="radio"  />
            <span>Compilation Error</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q2" type="radio"  />
            <span>Exception</span>
          </label>
        </p>
      </div>
      <div class="tab">
        <p>Question 3:</p>
        <p>Predict the output of following Java program:</p>
        <pre>class Test {
public static void swap(Integer i, Integer j) {
      Integer temp = new Integer(i);
      i = j;
      j = temp;
   }
   public static void main(String[] args) {
      Integer i = new Integer(10);
      Integer j = new Integer(20);
      swap(i, j);
      System.out.println("i = " + i + ", j = " + j);
   }
}
</pre>
        <p>
          <label>
            <input class="with-gap" name="q3" type="radio"  />
            <span>i = 10, j = 20</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q3" type="radio"  />
            <span>i = 20, j = 10</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q3" type="radio"  />
            <span>i = 10, j = 10</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q3" type="radio"  />
            <span>i = 20, j = 20</span>
          </label>
        </p>
      </div>
      <div class="tab">
        <p>Question 4:</p>
        <p>Predict the output of following Java program:</p>
        <pre>class Test {
  int i;
}
class Main {
   public static void main(String args[]) {
     Test t;
     System.out.println(t.i);
}
</pre>
        <p>
          <label>
            <input class="with-gap" name="q4" type="radio"  />
            <span>0</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q4" type="radio"  />
            <span>Garbage value</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q4" type="radio"  />
            <span>Compiler error</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q4" type="radio"  />
            <span>Runtime error</span>
          </label>
        </p>
      </div>
      <div class="tab">
        <p>Question 5:</p>
        <p>Predict the output of following Java program:</p>
        <pre>class Test {
  int i;
}
class Main {
  public static void main(String args[]) {
      Test t = new Test();
      System.out.println(t.i);
   }
}
</pre>
        <p>
          <label>
            <input class="with-gap" name="q5" type="radio"  />
            <span>Garbage value</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q5" type="radio"  />
            <span>0</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q5" type="radio"  />
            <span>Compiler error</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="q5" type="radio"  />
            <span>Runtime error</span>
          </label>
        </p>
      </div>
      <br>
      <button class="btn waves-effect waves-light left" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous
        <!-- <i class="material-icons left">navigate_before</i> -->
      </button>
      <button class="btn waves-effect waves-light right" type="button" id="nextBtn" onclick="nextPrev(1)">Next
        <!-- <i class="material-icons right">navigate_next</i> -->
      </button>
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:50px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>
</div>
</div>
</div>
<br>
</main>
  <!-- Footer -->
<!-- End page content -->


<script type="text/javascript">
//sidebar init
$(document).ready(function(){
  $('.sidenav').sidenav();
});
//paginaton juggu
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  //if (n == 1) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}


function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

</script>

</body>
</html>
